{% extends "html.twig" %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell" style="height: 5em"></div>
    <div class="cell medium-10 small-12">
      <h3>Password Changed!!</h3>
      <p>A new, <bold>temporary</bold> password was set for you account and emailed to your OleMiss Go email.</p>
      <p>When using the temporary password in the lab/classroom, you will be prompted to change it. <bold>NOTE:</bold> You are required to change the password in the lab/classroom before you can use <a href="https://print.honors.olemiss.edu">wireless printing</a>.</p>
      <br>
      <br>
      <p>If you encounter an error with your temporary password, please visit with <a href="http://www.honors.olemiss.edu/team/scotty-polston/">Scotty (SMBHC 303)</a>, <a href="http://www.honors.olemiss.edu/team/penny-leeton/">Ms. Penny (SMBHC 127)</a>, or <a href="http://www.honors.olemiss.edu/team/elizabeth-tolbert/">Elizabeth (SMBHC 322)</a>.</p>
    </div>
  </div>
</div>

{% endblock %}