{% extends "html.twig" %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell" style="height: 5em"></div>
    <div class="cell medium-10 small-12">
      <h2>Uh-Oh!</h2>
      <p>I'm sorry but a problem has occured completing your request</p>
      <p>Please see <a href="http://www.honors.olemiss.edu/team/scotty-polston/">Scotty (SMBHC 303)</a> about addressing this issue and your account.</p>
    </div>
  </div>
</div>

{% endblock %}