<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMBHC Password Self-Service</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
  </head>
  <body>
<header>
  <div class="top-bar">
  <div class="top-bar-left">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell small-3 small-offset-1">
          <img src="assets/img/logo-0.5.png" />
        </div>
      </div>
    </div>
    </div>
  </div>
</header>
  </div>


    {% block body %}

    {% endblock %}


    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>