{% extends "html.twig" %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell" style="height: 5em"></div>
    <div class="cell medium-10 small-12">
      <h3>Having problems with your Honors College Lab Password?</h3>
      <p>This webpage is to help <b>Students and Faculty of the Sally McDonnell Barksdale Honors College</b> who have forgotten their password for the lab or classroom computers</p>
      <p>By clicking the button below, you will be prompted to log in with your OleMiss WebID. Once you log in, a temporary password will be created, set for your account, and then emailed to your OleMiss Go account.</p>
      <a href="login" class="button">WebID Login</a>
    </div>
  </div>
</div>

{% endblock %}